<header class="dx-header dx-box-4">
    <div class="bg-image bg-image-parallax">
        <img src="/images/bg-header.png" class="jarallax-img" alt="">
        <div style="background-color: rgba(27, 27, 27, .75);"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <h1 class="display-3 text-white">Amdesk Template</h1>
                <p class="lead text-1">A high quality Bootstrap 4 template for your digital products with help center</p>
                <a href="store.html" class="dx-btn dx-btn-lg mt-10">View Products</a>
            </div>
        </div>
    </div>
</header>
<div class="dx-box-1">
    <div class="container">
        <div class="row vertical-gap lg-gap">
            <div class="col-lg-4">
                <div class="dx-feature dx-feature-1">
                    <div class="dx-feature-decorated"></div>
                    <div class="dx-feature-icon">
                        <span class="icon pe-7s-diamond"></span>
                    </div>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-title">7700 +</div>
                        <div class="dx-feature-text">Happy Customers</div>
                    </div>
                </div>
                <div class="dx-feature dx-feature-1">
                    <div class="dx-feature-decorated"></div>
                    <div class="dx-feature-icon">
                        <span class="icon pe-7s-like"></span>
                    </div>
                    <div class="dx-feature-cont">
                        <div class="dx-feature-title">4.9</div>
                        <div class="dx-feature-text">Author Rating</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>Who we are</h2>
                <p class="mb-0">We a team of enthusiasts that creating powerful digital products, that help your businesses growth. For all products, we provide a year of support and lifetime security updates.</p>
            </div>
        </div>
    </div>
</div>
<div class="dx-box-1 bg-dark-1">
    <div class="container">
        <div class="row mnt-40 mnb-40">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon pe-7s-edit"></span>
                        </div>
                        <div class="dx-feature-title">Easy Setup</div>
                        <div class="dx-feature-text">We make our products easy to setup and customize.</div>
                    </div>
                    <span class="dx-decorated" style="background-image: url('/images/decorated-pattern-dark.svg');"></span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon pe-7s-paint-bucket"></span>
                        </div>
                        <div class="dx-feature-title">Perfect Design</div>
                        <div class="dx-feature-text">Choose our solutions and your website will be in a trend always.</div>
                    </div>
                    <span class="dx-decorated" style="background-image: url('/images/decorated-pattern-dark.svg');"></span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon pe-7s-timer"></span>
                        </div>
                        <div class="dx-feature-title">Lifetime Updates</div>
                        <div class="dx-feature-text">We improve our products after release and you will get it for free.</div>
                    </div>
                    <span class="dx-decorated" style="background-image: url('/images/decorated-pattern-dark.svg');"></span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon pe-7s-cloud-download"></span>
                        </div>
                        <div class="dx-feature-title">Freebies</div>
                        <div class="dx-feature-text">Not only paid products, but also freebies available.</div>
                    </div>
                    <span class="dx-decorated" style="background-image: url('/images/decorated-pattern-dark.svg');"></span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon pe-7s-portfolio"></span>
                        </div>
                        <div class="dx-feature-title">Clean Code</div>
                        <div class="dx-feature-text">All our products provided with best code quality and high performance.</div>
                    </div>
                    <span class="dx-decorated" style="background-image: url('/images/decorated-pattern-dark.svg');"></span>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dx-feature dx-feature-2">
                    <div class="dx-feature-cont">
                        <div class="dx-feature-icon">
                            <span class="icon pe-7s-headphones"></span>
                        </div>
                        <div class="dx-feature-title">Outstanding Support</div>
                        <div class="dx-feature-text">We provide fast and professional support through support system.</div>
                    </div>
                    <span class="dx-decorated" style="background-image: url('/images/decorated-pattern-dark.svg');"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dx-box-1 bg-grey-6">
    <div class="container">
        <h2 class="text-center mb-60">Latest Products</h2>
        <div class="row vertical-gap">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dx-portfolio-item dx-block-decorated">
                    <div class="dx-portfolio-item-image">
                        <div class="dx-portfolio-item-overlay" style="background-color: rgba(27, 27, 27, .8);">
                            <a href="#" class="dx-btn dx-btn-md dx-btn-transparent-style-2 m-10">Live Demo</a>
                            <a href="#" class="dx-btn dx-btn-md dx-btn-transparent-style-2 m-10">Buy Now</a>
                        </div>
                        <img src="/images/product-1.png" alt="">
                    </div>
                    <a href="product.html" class="dx-portfolio-item-info">
                        <span class="dx-portfolio-item-title">Quantial – Moving Upon Signs Moveth Lesser</span>
                        <span class="dx-portfolio-item-price">$49</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dx-portfolio-item dx-block-decorated">
                    <div class="dx-portfolio-item-image">
                        <div class="dx-portfolio-item-overlay" style="background-color: rgba(27, 27, 27, .8);">
                            <a href="#" class="dx-btn dx-btn-md dx-btn-transparent-style-2 m-10">Live Demo</a>
                            <a href="#" class="dx-btn dx-btn-md dx-btn-transparent-style-2 m-10">Buy Now</a>
                        </div>
                        <img src="/images/product-2.png" alt="">
                    </div>
                    <a href="product.html" class="dx-portfolio-item-info">
                        <span class="dx-portfolio-item-title">Sensific – Saying Beast Lesser for in Fruitful</span>
                        <span class="dx-portfolio-item-price">$59</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="dx-portfolio-item dx-block-decorated">
                    <div class="dx-portfolio-item-image">
                        <div class="dx-portfolio-item-overlay" style="background-color: rgba(27, 27, 27, .8);">
                            <a href="#" class="dx-btn dx-btn-md dx-btn-transparent-style-2 m-10">Live Demo</a>
                            <a href="#" class="dx-btn dx-btn-md dx-btn-transparent-style-2 m-10">Buy Now</a>
                        </div>
                        <img src="/images/product-3.png" alt="">
                    </div>
                    <a href="product.html" class="dx-portfolio-item-info">
                        <span class="dx-portfolio-item-title">Minist – Subdue Above for Signs Dry is Have Great</span>
                        <span class="dx-portfolio-item-price">$39</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center mt-70">
            <a href="#" class="dx-btn dx-btn-lg">View Products</a>
        </div>
        <div class="dx-box-1">
            <span class="dx-decorated" style="background-image: url('/images/decorated-pattern-light.svg');"></span>
        </div>
        <h2 class="text-center mb-40">Reviews</h2>
        <div class="dx-box">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <!-- START: Slider Reviews

                        Additional Classes:
                            .dx-slider-arrows (clone arrows)

                        Additional Attributes:
                            data-swiper-speed                (numbers)
                            data-swiper-space                (numbers)
                            data-swiper-autoPlay             (numbers)
                            data-swiper-slides               (numbers)
                            data-swiper-slidesAuto           (true or false)
                            data-swiper-arrows-clone         (true or false)
                            data-swiper-grabCursor           (true or false)
                            data-swiper-lazy                 (true or false)
                            data-swiper-breakpoints          (true or false)
                            data-swiper-arrows               (true or false)
                            data-swiper-pagination           (true or false)
                            data-swiper-pagination-dynamic   (true or false)
                            data-swiper-pagination-scrollbar (true or false)
                            data-swiper-autoHeight           (true or false)
                            data-swiper-freeMode             (true or false)
                            data-swiper-loop                 (true or false)

                    -->
                    <div class="swiper-container dx-slider dx-slider-arrows dx-slider-reviews" data-swiper-speed="400" data-swiper-space="0" data-swiper-slides="2" data-swiper-arrows="true" data-swiper-arrows-clone="true" data-swiper-pagination-dynamic="true" data-swiper-breakpoints="true" data-swiper-loop="true" data-swiper-grabCursor="true">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="dx-swiper-slide">
                                    <div class="dx-review dx-block-decorated">
                                        <div>
                                            <div class="dx-review-title">Matthew Stewart</div>
                                            <div class="dx-review-subtitle">Themeforest User</div>
                                            <div class="dx-review-text lead">Theme is brilliantly designed. I will see how much is customizable and leave another review when planned is done on the theme. Good job guys.</div>
                                        </div>
                                        <div class="dx-review-rating">
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dx-swiper-slide">
                                    <div class="dx-review dx-block-decorated">
                                        <div>
                                            <div class="dx-review-title">Paula Daniel</div>
                                            <div class="dx-review-subtitle">Themeforest User</div>
                                            <div class="dx-review-text lead">Quality template. Built-in design features made it applicable not only to game portals but also to a business/industrial sites.</div>
                                        </div>
                                        <div class="dx-review-rating">
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dx-swiper-slide">
                                    <div class="dx-review dx-block-decorated">
                                        <div>
                                            <div class="dx-review-title">Robert Chase</div>
                                            <div class="dx-review-subtitle">Themeforest User</div>
                                            <div class="dx-review-text lead">It took a little while but I was finally able to get the demo data up and was able to get a handle on this theme. I am impressed with the features/functionality and with the responsiveness of the support group.</div>
                                        </div>
                                        <div class="dx-review-rating">
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dx-swiper-slide">
                                    <div class="dx-review dx-block-decorated">
                                        <div>
                                            <div class="dx-review-title">Oliver Harris</div>
                                            <div class="dx-review-subtitle">Themeforest User</div>
                                            <div class="dx-review-text lead">Thanks, so much I love it... So far, I&#39;ve never seen a theme like it...I want to thank you for your quick response as well... thanks</div>
                                        </div>
                                        <div class="dx-review-rating">
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dx-swiper-slide">
                                    <div class="dx-review dx-block-decorated">
                                        <div>
                                            <div class="dx-review-title">Matthew Stewart</div>
                                            <div class="dx-review-subtitle">Themeforest User</div>
                                            <div class="dx-review-text lead">Theme is brilliantly designed. I will see how much is customizable and leave another review when planned is done on the theme. Good job guys.</div>
                                        </div>
                                        <div class="dx-review-rating">
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="dx-swiper-slide">
                                    <div class="dx-review dx-block-decorated">
                                        <div>
                                            <div class="dx-review-title">Paula Daniel</div>
                                            <div class="dx-review-subtitle">Themeforest User</div>
                                            <div class="dx-review-text lead">Quality template. Built-in design features made it applicable not only to game portals but also to a business/industrial sites.</div>
                                        </div>
                                        <div class="dx-review-rating">
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                            <span class="fas fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-prev"><span class="icon pe-7s-angle-left"></span></div>
                        <div class="swiper-button-next"><span class="icon pe-7s-angle-right"></span></div>
                    </div>
                    <!-- END: Slider Reviews -->
                </div>
            </div>
            <div class="dx-slider-arrows-clone dx-slider-arrows-reviews"></div>
        </div>
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg-6 bg-dark-1">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="container">
                    <div class="dx-box-1">
                        <h2 class="text-white">Latest Products</h2>
                        <p class="text-2">Join the newsletter to receive news, updates, new products and freebies in your inbox.</p>
                        <a data-fancybox data-touch="false" data-src="#subscribe" href="javascript:;" class="dx-btn dx-btn-lg dx-btn-transparent">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 bg-main-1">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="container">
                    <div class="dx-box-1">
                        <h2 class="text-white">Visit our Support Desk</h2>
                        <p class="text-white op-8">We have a Support Desk for our users and a well experienced team to quickly answer your questions.</p>
                        <a href="help-center.html" class="dx-btn dx-btn-lg dx-btn-transparent">Get support</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>